@keyframes blinker {  
  50% { opacity: 0; }
}


#console {
    overflow-y: auto;
    overflow-x: hidden;
}

#console pre {
    word-break: break-all;
    white-space:pre-line;

}

    #console form {
        margin-bottom: 10px;
        font-family: monospace;
    }

    #console form span {
        white-space: nowrap; 
    }

    #console #consoleCommand {
        font-family: monospace;
        width: 100%;
        background: 0;
        border: 0;
        color: #fff;
    }

    #console #consoleCommand:focus {
        outline: none;
    }
