@keyframes blinker {  
  50% { opacity: 0; }
}


#console {
    overflow-y: scroll;
}

    #console form {
        margin-bottom: 10px;
        font-family: monospace;
    }

    #console #consoleCommand {
        position: absolute;
        left: -99999px;
        width: 0px;
        height: 0px;
        background: 0;
        border: 0;
        color: #fff;
    }

    #console #caret::after {
        content:"▋";
        display: inline-block;
        opacity: 0;
    }

    #console #consoleCommand:focus + #caret::after {
        opacity: initial;
        animation: blinker 1s step-end infinite;
    }
