<md-card flex="none">
    <md-card-title>
        The server is currently {{serverStatus}}.
    </md-card-title>

    <md-card-actions layout="row" layout-align="end center" flex>
        <md-button ng-click="refreshStatus()">Refresh</md-button>
        <md-button ng-click="startServer()" ng-disabled="serverStatus == 'Starting' || serverStatus == 'Started'">Start</md-button>
        <md-button ng-click="startServer()" ng-disabled="serverStatus != 'Starting' && serverStatus != 'Started'">Stop</md-button>
    </md-card-actions>
</md-card>

<md-card md-theme="dark-grey" flex>
    <md-card-title flex="none">Console</md-card-title>
    <md-card-content flex="100" id="console">
        <div ng-click="focusCommand()">
            <pre>{{consoleLog}}</pre>

            <form ng-submit="executeCommand()" flex layout="row">
                <input ng-model="command" id="consoleCommand" style="">

                <div id="caret">>{{command}}</div>
            </form>           
        </div>
    </md-card-content>
</md-card>